/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}

/*breakpoint mixin*/
@mixin breakpoint ($point){
	@if $point == mobile {
		@media screen and (min-width: 320px){@content;}
	}
	@else if $point == laptop {
		@media screen and(min-width: 768px){@content;}
	}
	@else if $point == desktop {
		@media screen and(min-width: 1224px){@content;}
	}
	@else if $point == largescreens {
		@media screen and(min-width: 1824px){@content;}
	}
}


/* 2. Content ================================= */

.slideshow {
	position:relative;
	width: 100%;
	height: 15em;
	margin: 1em auto;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .1;
		z-index: -1;
		-webkit-transition: opacity 3s ease-in;
  		-moz-transition: opacity 3s ease-in;
  		-o-transition: opacity 3s ease-in;
  		transition: opacity 3s ease-in;
		
	}
	img.show{
		display: block;
		z-index: 1;
		opacity: 1;	
		-webkit-transition: opacity 2s ease-out;
  		-moz-transition: opacity 2s ease-out;
  		-o-transition: opacity 2s ease-out;
  		transition: opacity 2s ease-out;
	}

	@include breakpoint(laptop){
		width: 50%;
		height: 300px;
	}
}
.button-container{
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	button{
		margin: 0 20em;
		padding: .5em 1em;
	}

	@include breakpoint(laptop){
		display: flex;
	}
}
